* {
    padding: 5px;
}
h1 {
    text-align: left;
    font-family: cursive;
    background-color: black;
    font-weight: bold;
    padding-left: 15px;
}
#tit1 {
    color: white;
}
#tit11 {
    color: aqua;
}
h2 {
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
    font-style: italic;
}
h3 {
    text-align: right;
    background-color: rgb(62, 162, 205);
    color: black;
    padding-right: 15px;
}
table {
    border: 2px thick green;
}